{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %}
{{include("navbar.html.twig")}}

     <section class="bg-light">
     <h1 class="text-center text-success">Votre Panier</h1>
     </section>


     <table class="table">
       <thead>
         <tr>
         <th>Article</th>
         <th>Prix</th>
         <th>Quantité</th>
         <th>Total</th>
         <th>Actions</th>
         </tr>
       </thead>
       <tbody>

       </tbody>
    
        {% for element in dataPanier %}
            <tr>
            <td>{{ element.article.libelle }}</td>
            <td>{{ element.article.prix }}€</td>
            <td>{{ element.quantite }}</td>
            <td>{{ element.quantite * element.article.prix }}€</td>
            <td>
               {# Bouton ajouter #}
               <a href="{{path("cart_add", {id: element.article.id})}}" class="btn btn-success">
               Ajouter</a>

               {# Bouton enlever un article #}
               <a href="{{path("cart_remove", {id: element.article.id})}}" class="btn btn-warning">
               Retirer</a>

               {# Bouton supprimer #}
               <a href="{{path("cart_delete", {id: element.article.id})}}" class="btn btn-danger">
               Supprimer</a>
               
            </td>
            </tr>
        {% else %}
        <tr>
            <td colspan="5" class="text-center">Votre panier est vide</td>
        </tr>
 </table>
        {% endfor %}

        <tbody>
        <tfoot>
        <tr>
             <td colspan="3">Total</td>
             <td class="text-end">{{ total }}€</td>
             <td></td>
        </tr>
        </tfoot>
        </tbody>

{% endblock %}
