{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
{% if is_granted('ROLE_USER') %}
<h1>Contactez-nous</h1>
<div>

  {{form(formulaire)}}      

</div>
{% endif %}

{% endblock %}
