{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{{include("navbar.html.twig")}}
<div class="text-center"><h1 class = "text-dark">Bienvenue <span class = "text-primary"> {{app.user ? app.user.pseudo : "à vous"}} </span> !</h1></div>
{% if app.user %}
<div class="text-center"><a href="{{ path('app_logout') }}">Se déconnecter</a></div>
{% endif %}



<div class ="d-flex justify-content-center w-100">
<div class="d-flex flex-row w-75 justify-content-center gap-3 flex-lg-wrap ">

{% for article in articles %}
<div class="card" style="width: 18rem;">

  <div class="card-body">

    <h5 class="card-title">{{ article.libelle }}</h5>

    <p class="card-text">{{ article.description }}</p>

    <p class="card-text">{{ article.souscategorie }}</p>

    <p class="card-text">{{ article.prix }}€</p>

    <a href="{{path("cart_add", {id: article.id})}}" class="btn btn-primary">Ajouter au panier</a>      
  </div>

</div>
{% endfor %}

</div>
</div>


{% endblock %}