<nav class="navbar navbar-expand-lg border border-primary-subtle">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href="{{ path("app_home")}}">AnnickAntique.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("app_home")}}">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("cart_index")}}">Panier</a>  
      </li>

      </ul>
    </div>
  </div>
</nav>